<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="<%= '/static/auth/signup.css' %>">
    <style>
        
    </style>
</head>
<body>
    
    <form method="POST">
        
        <h1>Welcome to Internship Fair</h1>
        <h2>Sign Up as an Intern Here</h2>

        <% if (locals.success){ %>
            <div class="formSuccess">
                <%= `You have successfully signed up ${success.first_name}. ` %>
                <a href="./Internsignin">Sign in Here</a>
            </div>
        <% } %>

        <% if (locals.dberrs) {%>
            <div class="formErr"><%= dberrs %></div>
        <%} %>

        <% if (locals.errs) {%>
            <% for (let err of errs) {%>
                <div class="formErr"><%= err.msg %></div>
            <% } %>
        <% } %>

        
        <p> 
            <label for="first_name">
                First Name *:
                <input name="first_name" required minlength="2" <% if (locals.formdata){%>value=<%= locals.formdata.first_name %><%}%>>
            </label>
        </p>

        <p> 
            <label for="last_name">
                Last Name *:
                <input name="last_name" required minlength="2" <% if (locals.formdata){%>value=<%= locals.formdata.last_name %><%}%>>
            </label>
        </p>



        <p>
            <label for="email">
                Email *: <input type="email" name="email" required minlength="3" <% if (locals.formdata){%>value=<%= locals.formdata.email %><%}%>>
            </label>
        </p>

        <p>
            <label for="password">
                Password *: <input type="password" name="password" required minlength="4" <% if (locals.formdata){%>value=<%= locals.formdata.password %><%}%>>
            </label>
        </p>

        <p>
            <label for="retype_password">
                Retype Password *: <input type="password" name="retype_password" required minlength="4">
            </label>
        </p>


        <!-- Added new fields. Please Validate -->
        <!-- <p> 
            <label for="country">
                Country:
                <input name="country" required minlength="5">  
            </label>
        </p> -->

        <p> 
            <label for="city">
                City *:
                <input name="city" required minlength="2" <% if (locals.formdata){%>value=<%= locals.formdata.city %><%}%>>  
            </label>
        </p>

        <p> 
            <label for="institution">
                Institution *:
                <input name="institution" required minlength="2" <% if (locals.formdata){%>value=<%= locals.formdata.institution %><%}%>>  
            </label>
        </p>

        <p> 
            <label for="course">
                Course of Study *:
                <input name="course" required minlength="2" <% if (locals.formdata){%>value=<%= locals.formdata.course %><%}%>>  
            </label>
        </p>

        <p> 
            <label for="cgpa">
                CGPA:
                <input name="cgpa" type="number" min="0.0" max="5.0" step="0.01" <% if (locals.formdata){%>value=<%= locals.formdata.cgpa %><%}%>>  
            </label>
        </p>
        <button>Sign Up</button>
        <p>Already have an account? <a href='./Internsignin'>sign in here</a></p>
    </form>

</body>
</html>